body{
    background-color: #2b4e6d;
    height:1300px;
    

}

.main{
    border:0px solid #5389b8;
    height:1080px;
    padding:5px;
    margin:3px;
   
}
 
.btn{
    
  height: 21px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 95px;
  cursor: pointer;
  position: relative;
  top:1px;
  padding: 17px;
  border-radius: 30%;
}


.text_1{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  left:18em;
  bottom:-2px;
  
}



img {
  position: absolute;
  left:4em;
  top:15em;
  width:650px;
  height:550px;
  box-shadow: 20px 20px 20px #1b3347;
}
.h1_1{
  border:0px solid black;
  box-shadow:5px 5px 5px 5px  #1b3347;
  width:200px;
  text-align: center;
  text-decoration: none;
  border-radius: 30%;
  position: absolute;
  left: 20em;
  top:4em;
  color:aqua;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.img_1{
  position: absolute;
left:50em;
box-shadow: 20px 20px 20px #1b3347;

}

.img_2{
  position: absolute;
  top:55em;
  box-shadow: 20px 20px 20px #1b3347;
}
.img_3{
  position: absolute;
  left:50em;
  top:55em;
  box-shadow: 20px 20px 20px #1b3347;
}

.h1_2{
  border:0px solid black;
  color:rgb(4, 149, 4);
  box-shadow:5px 5px 5px 5px #1b3347;
  width:150px;
  padding:5px;
  text-align:center;
  border-radius:30%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Arial Narrow', Arial, sans-serif;
 text-decoration: none;
 position: absolute;
 left: 21em;
  top:48em;

}
.img_4{
  position: absolute;
  left: 4em;
  top:106em;
  box-shadow: 20px 20px 20px #1b3347;
}
.img_5{
position: absolute;
left:50em;
top:106em;
box-shadow: 20px 20px 20px #1b3347;
}
.img_6{
  position: absolute;
  left:50em;
  top:145em;
  box-shadow: 20px 20px 20px #1b3347;
}
.vid_1{

  position: absolute;
  top:145em;
  left: 18em;
  box-shadow: 20px 20px 20px #1b3347;
  
  
  
}

a.animated-button_4.thar-four {
	color: rgb(255, 255, 255);
	cursor: pointer;
  width:200px;
  height:40px;
	display: block;
	position: relative;
	border: 2px solid #2b4e6d;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 5px 5px 5px 5px #183046;
	transition:all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 50%;
  


}
a.animated-button_4.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
  border-radius: 50%;
}
a.animated-button_4.thar-four:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
  border-radius: 50%;
}
a.animated-button_4.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #3feeee;
	transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 50%;

}
.btn_4{
    
  height: 21px;
  text-align: center;
  text-decoration: none;
  width: 95px;
  cursor: pointer;
  position: relative;
  top:50em;
  left:17em;
  padding: 17px;
  border-radius: 50%;
  
}
.text_4{
  position: relative;
  top:11px;
  font-size: large;
}

.navbar{
  position: relative;
  top:37em;
  display: block;
  background-color: #1a3852;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  }
  
  .navbar a{
      
  position: relative;
  width:80px;
  color:#1b3a56;
  font-size: 0.7rem;
  text-align: center;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  z-index: 100;
  }
  
  .navbar b{
      
    position: relative;
    text-align: center;
    bottom: 40px;
    transition: 0.3s ease bottom;
  }
  
  .navbar i{
    position: relative;
    text-align: center;
    left:20%;
    transition: 0.3s ease left;
  }
  
  .navbar span{
    position: absolute;
    width:80px;
    background-color: #05f6fe;
    top:10px;
    bottom:10px;
    left:10px;
    border-radius: 10px;
    z-index: 1;
    transition: 0.3s ease left;
  }


  .navbar a:hover b{
      bottom: 0;
  }
  .navbar a:hover i{
      left: -5px;
    
  }
.navbar a:hover span{
background: #0560fe;
}

.navbar a:nth-child(1):hover ~ span{
left:10px;
}
.navbar a:nth-child(2):hover ~ span{
  left:93px;
}
.navbar a:nth-child(3):hover ~ span{
  left:180px;
}
.top_img{
  position: relative;
  top:-13.5em;
  left:-0.2em;
  width:1507px;
  height:600px;
  
}
.head{
position:absolute;
bottom:40em;

}
.h1_top_1{
  font-family: Tahoma, sans-serif;
  position: absolute;
  left: 1em;
  top:-2em;
  color: rgb(131, 17, 17)
}
.h1_top_2{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left:4em;
  top:-1em;
  color:rgb(243, 243, 98);
}
.h1_top_3{
  font-family: 'Poppins', sans-serif;
  position: absolute;
  left:5em;
  color:rgb(2, 115, 2);
}

a.animated-button_7.thar-seven {
	color: rgb(255, 255, 255);
	cursor: pointer;
  width:200px;
  height:40px;
	display: block;
	position: relative;
	border: 2px solid #2b4e6d;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: 5px 5px 5px 5px #183046;
	transition:all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 50%;
  


}
a.animated-button_7.thar-seven:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
  border-radius: 50%;
}
a.animated-button_7.thar-seven:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
  border-radius: 50%;
}
a.animated-button_7.thar-seven:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #229f20;
	transition: 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 50%;

}
.btn_7{
    
  height: 21px;
  text-align: center;
  text-decoration: none;
  width: 95px;
  cursor: pointer;
  position: relative;
  top:45em;
  left:57em;
  padding: 17px;
  border-radius: 50%;
  
}
.text_7{
  position: relative;
  top:11px;
font-size: large;
}