body{
    background-color: #2b4e6d;
    height:2500px;
    

}
.one{
    border:5px solid black;
    height:60px;
    padding:5px;
    position: relative;
    top:0em;
}
.text_1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aqua;
    position: absolute;
    left:20em;
    bottom: -4px;
    
  }
  .text_2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(106, 255, 255);
    position: absolute;
    left:4em;
    top:58em;
    margin: 5px;

    



  }
  .search{
    position: absolute;
    left:80em;
    bottom:1.5em;
   }
.btn{
    
    height: 21px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    width: 95px;
    cursor: pointer;
    position: relative;
    top:1px;
    padding: 17px;
    border-radius: 50%;
  }
  
  
  a.animated-button.thar-three {
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #8e0909;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      border-radius: 50%;
  
  }
  a.animated-button.thar-three:hover {
      color: #000 !important;
      background-color: transparent;
      text-shadow: nthree;
      border-radius: 50%;
  }
  a.animated-button.thar-three:hover:before {
      left: 0%;
      right: auto;
      width: 100%;
      border-radius: 50%;
  }
  a.animated-button.thar-three:before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #8e0909;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      border-radius: 50%;
  }
  
  
  
  .btn_1{
      
    height: 20px;
    text-align: center;
    text-decoration: none;
    overflow:auto;
    width: 95px;
    cursor: pointer;
    position: relative;
    left:9em;
    bottom:3.6em;
    padding: 17px;
    border-radius: 50%;
  }
  
  a.animated-button_1.thar-three_1 {
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: block;
      position: relative;
      border: 2px solid #ffffff;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      border-radius: 50%;
  
  }
  a.animated-button_1.thar-three_1:hover {
      color: rgb(244, 255, 30) !important;
      background-color: transparent;
      text-shadow: nthree;
      border-radius: 50%;
  }
  a.animated-button_1.thar-three_1:hover:before {
      left: 0%;
      right: auto;
      width: 100%;
      border-radius: 50%;
  }
  a.animated-button_1.thar-three_1:before {
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      z-index: -1;
      content: '';
      color: #000 !important;
      background: #dedada;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
      border-radius: 50%;
  
  }
  
  
  
  .btn_2{
    
  height: 21px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  width: 95px;
  cursor: pointer;
  position: relative;
  top:-116px;
  left:18em;
  padding: 17px;
  border-radius: 50%;
  }
  
  a.animated-button_2.thar-three_2 {
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: block;
  position: relative;
  border: 2px solid #119420;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 50%;
  
  }
  a.animated-button_2.thar-three_2:hover {
  color: #000 !important;
  background-color: transparent;
  text-shadow: nthree;
  border-radius: 50%;
  }
  a.animated-button_2.thar-three_2:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
  border-radius: 50%;
  }
  a.animated-button_2.thar-three_2:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  color: #000 !important;
  background: #119420;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 50%;
  
  }
  img {
    position: absolute;
    left:1em;
    top: 20em;
    width:650px;
    height:550px;
    box-shadow: 20px 20px 20px #1b3347;
  }
  .h1_1{
    border:0px solid black;
    box-shadow:5px 5px 5px 5px  #1b3347;
    width:200px;
    text-align: center;
    text-decoration: none;
    border-radius: 30%;
    position: absolute;
    left: 20em;
    top:4em;
    color:aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .img_1{
    position: absolute;
  left:45em;
  box-shadow: 20px 20px 20px #1b3347;
  
  }
  
  .img_2{
    position: absolute;
    top:60em;
    box-shadow: 20px 20px 20px #1b3347;
  }
  .img_3{
    position: absolute;
    left:45.5em;
    top:60em;
    box-shadow: 20px 20px 20px #1b3347;
  }
  .vid_1{

    position: absolute;
    top:5em;
    left: 3em;
   box-shadow: 20px 20px 20px #1b3347;
   zoom: 150%;
}

a.animated-button.thar-three {
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    position: relative;
    border: 2px solid #8e0909;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);

}
a.animated-button.thar-three:hover {
    color: #000 !important;
    background-color: transparent;
    text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
    left: 0%;
    right: auto;
    width: 100%;
}
a.animated-button.thar-three:before {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 0px;
    z-index: -1;
    content: '';
    color: #000 !important;
    background: #8e0909;
    transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

